
# ВАЖНО: Скопируйте этот файл, переименуйте копию в .env и вставьте ваши ключи ниже

# Получите токен от @BotFather в Telegram.
# НЕ ПУБЛИКУЙТЕ ЭТОТ КЛЮЧ НИГДЕ!
TELEGRAM_BOT_TOKEN=

# Получите ключ в Google AI Studio: https://aistudio.google.com/app/apikey
# НЕ ПУБЛИКУЙТЕ ЭТОТ КЛЮЧ НИГДЕ!
API_KEY=
